<div class="list-sites">
	<div class="list-site-label">Elenco siti:</div>
	<ul class="choose-site">

		<li class="site">
			<div>
				<a class="site-link" tabindex="0" >
					<div class="logo-wrapper">
						<div class="profile-icon profile-edit-mode" style="background-image:url(https://occ-0-3789-778.1.nflxso.net/dnm/api/v6/Z-WHgqd_TeJxSuha8aZ5WpyLcX8/AAAABSLII-o6GmYPFo09Nlv7D5jVLJGKsBJnZFzFAj82yk-WfGl7mV_vbCPIK5h65iTgGTs1dobHjU5Nlwc0EwKaty5KYhoV.png?r=a41)"> 
            </div>
						<div class="svg-edit-overlay">
							<svg class="svg-icon svg-icon-edit" focusable="true">
							</svg>
						</div>
					</div>
					<span class="site-name">Amazon Prime</span>
				</a>
			</div>
		</li>

	</ul>
</div>